@import url("./reset.css");
@import url("./globals.css");

body {
  background-color: #fff;
  margin-top: 2rem;
}

h1 {
  font-size: 3rem;
}

section {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solo-pantallas-chicas {
  display: block;
}

.solo-pantallas-grandes {
  display: none;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: auto;
  }

  p {
    font-size: 3rem;
  }
  .footer {
    height: 35vh;
  }
}

@media (min-width: 1200px) {
  section {
    grid-template-columns: auto;
  }

  p {
    font-size: 5rem;
  }
  h1 {
    text-align: center;
  }
  .footer {
    background-position: center bottom; /*Para que la imagen aparezca desde abajo*/
    background-size: auto 300px; /*o las medidas que quieras darle a la imagen*/
    background-repeat: repeat-x; /*Para que solo se repita a los lados y no hacia arriba*/
  }
}
